Repository AKJUS/foundation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @commonhaus/cf-ops, @commonhaus/cf-council, @commonhaus/cf-egc, @commonhaus/cf-egc-second

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these folks get the review request when someone opens
# a pull request.
*             @commonhaus/cf-ops

agreements/*  @commonhaus/cf-council
bylaws/*      @commonhaus/cf-council
policies/*    @commonhaus/cf-council
templates/*   @commonhaus/cf-egc @commonhaus/cf-egc-second
CONTACTS.yaml @commonhaus/cf-council
PROJECTS.yaml @commonhaus/cf-council

Update contacts, group name, add todos
  CONTACTS.yaml
  PROJECTS.yaml
Owners: @commonhaus/cf-council

Draft submission
  CONTACTS.yaml
  PROJECTS.yaml
Owners: @commonhaus/cf-council

💸 HeroDevs
  CONTACTS.yaml
  SPONSORS.yaml
Owners: @commonhaus/cf-council, @commonhaus/cf-ops

Update logo for roq in TRADEMARKS.md
  TRADEMARKS.md
Owners: @commonhaus/cf-ops

🏷️ footnote for Pi4J logo
  TRADEMARKS.md
Owners: @commonhaus/cf-ops

✨ Complete onboarding for Hibernate
  PROJECTS.yaml
Owners: @commonhaus/cf-council

🏷️ remove "used with permission" for xferred trademarks
  TRADEMARKS.md
Owners: @commonhaus/cf-ops

💸 Google as bronze tier sponsor
  SPONSORS.yaml
Owners: @commonhaus/cf-ops

Track URL changes for lysine.dev projects
  PROJECTS.yaml
Owners: @commonhaus/cf-council
